@import url("https://fonts.cdnfonts.com/css/gotham");
:root {
    --azul: #003087;
    --naranja: #e87722;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham", sans-serif;
}
body::-webkit-scrollbar,textarea::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track {
    background: var(--naranja);
}
body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
    background-color: var(--azul);
    border-radius: 5px;
}
.header-log {
    width: 100%;
    height: 20vh;
    background-image: url("../src/pages/layouts/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--naranja);
    box-shadow: 0 0 10px 5px var(--azul);
    border-radius: 0 0 1rem 1rem;
}
.header h1 {
    font-size: 4.5rem;
    width: 55%;
}
.header button {
    width: 5rem;
}
.footer {
    width: 100%;
    height: 15vh;
    background-image: url("./assets/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.login {
    width: 30%;
    height: 90%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 28px 28px 55px #828282, -28px -28px 55px #ffffff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.container-log {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login h1 {
    color: var(--azul);
}
.login label {
    color: var(--naranja);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    font-size: 20px;
}
.login label input {
    padding: 15px 20px;
    width: 100%;
    border-radius: 1rem;
    border: none;
    background-color: #8282821a;
}
.login label input:hover {
    background-color: #fff;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 5px var(--azul);
    transform: scaleY(1);
}
.btn-log {
    padding: 0.8rem;
    width: 30%;
    border-radius: 1rem;
    background-color: var(--naranja);
    color: var(--azul);
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.btn-log:hover,
.navbar button:hover,.navbar .link:hover {
    transform: scaleY(1.1);
    background-color: var(--azul);
    color: var(--naranja);
    transition: background-color 0.9s, transform 0.3s;
    box-shadow: 0 0 10px var(--naranja);
}
.logo {
    width: 300px;
}
.navbar {
    width: 18rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 11px;
    background: #ffffff;
    box-shadow: 9px 9px 18px #666666, -9px -9px 18px #ffffff;
    z-index: 10;
}
.container-main {
    width: 100%;
    min-height: 60vh;
    padding: 1rem;
    display: flex;
}
.container-editor{
    width: 100%;
    min-height: 60vh;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
    display: flex;
    width: 100%;

}
.filter {
    height: 30vh;
    width: 13rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border-radius: 11px;
    background: #ffffff;
    box-shadow: 9px 9px 18px #666666, -9px -9px 18px #ffffff;
    justify-content: space-evenly;
}
.filter h2{
    text-align: center;
    color: var(--naranja);
}

.filter form{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.filter form h3{
    color: var(--azul);
}
.filter form select{
    padding: 10px ;
    width: 100%;
    border-radius: .5rem;
    border: none;
    background-color: #8282821a;
    cursor: pointer;
}

.navbar .link,.navbar button {
    padding: 1rem;
    width: 60%;
    border-radius: 1rem;
    background-color: var(--naranja);
    color: var(--azul);
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.graficos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    padding: 2rem;
    min-height: 65vh;
    justify-content: space-evenly;
}
.graficos div {
    width: 25rem;
    height: 15rem;
    cursor: pointer;
}
.variable-grafico{
    width: 50%;
    height: 50vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.variable-grafico div{
    width: 100%;
    height: 100%;
    
}
.botones {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.botones button {
    background-color: #fff;
    border: none;
    color: var(--naranja);
    padding: 1.1rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 3px var(--naranja);
    margin-top: 20px;
    cursor: pointer;
}
.navbar .active-link{
    background-color: var(--azul);
    color: var(--naranja);
    text-decoration: none;
}
.form-variable{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--naranja);
    gap: 1rem;
    width: 30%;
    height: 20vh;
    border-radius: 1rem;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 9px 9px 18px #666666, -9px -9px 18px #ffffff;
    justify-content: center;
    
}
.container-editor button {
    width: 10rem;
    height: 2rem;
    margin: auto;
}
.form-variable input{
    width: 15rem;
    padding: .5rem;
    border-radius: 5px;
}

.botones .active {
    background-color: var(--azul);
    border: none;
    color: var(--naranja);
    padding: 1.1rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 3px var(--naranja);
    margin-top: 20px;
    cursor: pointer;
}
.table{
    width: 100%;
    min-height: 60vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}
.table h2{
    color: var(--azul);
}
.table-variable{
    width: 90%;
    height: 50vh;
    text-align: center;
    margin-left: 2rem;
    border-collapse: collapse;
    cursor: pointer;
}
.table-variable-1{
    width: 50%;
    text-align: center;
    border-collapse: collapse;
    height: 30vh;
    margin-top:5rem;
}
.table-variable-1 thead th{
    width: 3rem;
    height: 2rem;
    font-weight: 800;
    font-size: 20px;
    border: 3px solid var(--azul);
}
.table-variable-1 tbody th{
    width: 3rem;
    height: 2rem;
    font-size: 500;
    border: 3px solid var(--azul);
}
.table-variable-1 tbody td{
    width: 3rem ;
    height: 2rem;
    border: 3px solid var(--naranja);
}
.table-editor{
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}
.table-editor thead th{
    width: 4rem;
    height: 3rem;
    font-weight: 800;
    font-size: 20px;
    border: 3px solid var(--azul);
}

.table-editor tbody th{
    border:3px solid var(--azul);
    font-weight: 500;
    height: 3rem;
}
.table-editor td{
    border: 3px solid var(--naranja);


}
.table-variable th{
    width: 5rem;
    height: 2rem;
    font-weight: 800;
    font-size: 20px;
    border: 3px solid var(--azul);

}
.table-variable td{
    border: 3px solid var(--naranja);
    color: var(--azul);
    font-weight: 500;
}
.table-variable td:hover{
    background-color: var(--naranja);
    border: 3px solid var(--azul);
}
.table-variable tbody tr:hover,.table-editor tbody tr:hover {
    background-color: #82828257;
}

textarea{
    border-radius: 5px;
    border: 3px solid var(--naranja);
    background: #ffffff;
    box-shadow: 9px 9px 18px #666666, -9px -9px 18px #ffffff;
    font-size: 20px;
}
.edit-btn,.checkbox{
    cursor: pointer;
}
.verde{
    background-color: #32cd32;
    width: 2rem;
    height: 2rem;
    color: #32cd32;
    border-radius: 1rem;
    margin: auto;
}
.rojo{
    background-color: red;
    width: 2rem;
    height: 2rem;
    color: red;
    border-radius: 1rem;
    margin: auto;
}
.amarillo{
    background-color: orange;
    width: 2rem;
    height: 2rem;
    color: orange;
    border-radius: 1rem;
    margin: auto;
}